<footer>
    <div class="container">
        <div class="social-media">
            <a class="btn-socialmedia" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmedia" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmedia" href=""><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmedia" href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>

    <p class="copyright">
        &copy; @DateTime.Now.Year Silicon By Createx Studio. All rights reserved.<span></span>
    </p>


</footer>


